[Unit]
Description=tournaBOT Discord bot
ConditionHost=pip

[Install]
WantedBy=default.target

[Service]
WorkingDirectory=/home/tab53/programs/tournaBOT/
ExecStart=/home/tab53/3.8_env/bin/python3 /home/tab53/programs/tournaBOT/bot.py
Restart=always
Environment=PYTHONUNBUFFERED=1
StandardOutput=file:/home/tab53/programs/tournaBOT/log
